*{
    margin: 0;
    padding: 0;
}

#offer-title {
    padding: 10px 0 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: darkmagenta;
}

.card-list{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.card-list .card{
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 10px;
    justify-content: center;
    text-align: center;
    width: calc(33% - 32px);
    align-items: center;
}

.card-list .card h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: darkmagenta;
    font-weight:bolder
}

.card-list .card p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}   

.card-list .card h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: darkslategray;
    margin-bottom: 10px;
}

.card-list .card button {
    font-family: 'Courier New', Courier, monospace;
    background-color:darkmagenta;
    font-weight: bold;
    font-size: 15px;
    border-color:darkmagenta;
    border-radius: 25px;
    padding: 3%;
    color: white;
    cursor: pointer;
    width: 150px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-bottom: 15px;
}

