* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 10px;
    align-items: center;
}

nav h1 {
    padding-left: 15px;
    color:darkcyan
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    /*para que el punto no esté*/
    flex-direction: row;
    padding-right: 15px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(233, 192, 58);
    font-size: large;
    font-weight: bold;
}

.nav-list a:hover {
    color: rgb(1, 194, 194);
}
