.cta-container {
   background-image: url("../CSS/ej1_images/call-to-action.jpg"); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.cta-text {
    font-size: 28px;
    font-weight: bold;
}

.cta-button {
    background-color: #626bb2;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}