nav {
    display: flex;
    justify-content: flex-end;
    background-color: beige;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    /*para que el punto no esté*/
    flex-direction: row;
}

.nav-list a {
    text-decoration: none;
    color: rgb(233, 192, 58);
    font-size: large;
    font-weight: bold;
}

.nav-list a:hover {
    color: rgb(1, 194, 194);
}