body {
    background-color: red;
    color: white;
}

/* Media query para tabletas */
@media (min-width: 600px) {
    body {
        background-color: green;
    }
}

/* Media query para desktop */
@media (min-width: 1024px) {
    body {
        background-color: blue;
    }
}