:root {
    --primary-blue: #074167;
    --dark-blue: #143548;
    --background-light: #ffebd9;
    --hover-light: #CCB299;
    --font-family: Montserrat, sans-serif;
}

.montserrat-light{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-blue);
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    list-style: none;
    padding-right: 10px;
    
}

.menu li a {
    text-decoration: none;
    color: var(--background-light);
}

.search input,
.search button {
    background-color: var(--background-light);
    padding: 5px;
}

.cta-container {
    background-image: url(gato\ fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}