:root {
    --primary-blue: #074167;
    --dark-blue: #143548;
    --background-light: #ffebd9;
    --hover-light: #CCB299;
    --font-family: Montserrat, sans-serif;
}

.montserrat-light{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-blue);
}

.logo:hover {
    transform: rotate(360deg);
    transition: transform 0.25s ease;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    list-style: none;
    padding-right: 10px;
    
}

.menu li a {
    text-decoration: none;
    color: var(--background-light);
}

.menu li a:hover {
    color: var(--hover-light);
    cursor: pointer;
}

.search input {
    border-radius: 4px;
    border: 0;
    background-color: var(--background-light);
    padding: 5px;
}

.search button {
    transition: color 0.25s ease;
    background: none;
    border: 0;
    color: var(--background-light);
    font-size: 20px;
}


.search input:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease;
}

.search button:hover {
    transform: scale(1.3);
    transition: transform 0.25s ease;
    color: var(--hover-light);
}

.cta-container {
    background-image: url(gato\ fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: sepia(30%);
}

.cta-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 5rem;
    color: var(--dark-blue);
    text-shadow: 8px 4px 6px var(--hover-light);
}

.footer-copy {
    background-color: var(--primary-blue);
    color: var(--background-light);
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-menu {
    background-color: var(--dark-blue);
    color: var(--background-light);
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-menu div {
    display: flex;
    flex-direction: column;
}

.footer-menu div h3 {
    margin-bottom: 10px;
}

.footer-menu div a {
    text-decoration: none;
    color: var(--background-light);
}

.footer-menu div a:hover {
    color: var(--hover-light);
    cursor: pointer;
}


